# Virtual environment directories
venv/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables file
.env
.env.*
!.env.example
!**/.env.example



# IDE/editor configurations
.idea/
